name: Java 21 Maven Version Check

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Install Dependencies
        run: mvn install -DskipTests

      - name: Check Dependency Version
        run: |
          echo "-----------------------------------"
          echo "Searching for your artifact..."
          mvn dependency:list | grep "triggering-action" || (echo "Artifact NOT found!" && exit 1)
          echo "ARTIFACT FOUND"