name: Java 21 Maven Version Check

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Install Dependencies
        run: mvn install -DskipTests

      - name: Check Dependency Version
        run: mvn dependency:list | grep triggering-action-from-code-1.0-SNAPSHOT